<launch>
  <!-- 1. 加载 URDF 到参数服务器 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find car_description)/urdf/five_link_car.urdf.xacro'"/>

  <!-- 2. 启动 Gazebo 并生成机器人 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model five_link_car -param robot_description" />

  <rosparam file="$(find five_link_car_controller)/config/five_link_car.yaml" command="load"/>
  
  <!-- 4. 启动控制器管理器 -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller five_link_car_controller"/>
  <!-- 建议同时启动 robot_state_publisher 以便在 Rviz 查看 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>